.card{
    text-align: center;
}
.nombre {
    text-decoration: none;
    list-style: none;
    color: rgb(155, 14, 14);

}
.precio {
    text-decoration: none;
    list-style: none;
    color: rgb(155, 14, 14);
}

